.photo-grid__like-btn {
    height: 19px;
    width: 22px;
    cursor: pointer;
    background-image: url('../../../images/like.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    outline: none;
}