.popup__status {
    margin: 0 0 48px 0;
    border: none;
    border-bottom: 1px solid rgba(0,0,0, .2);
    outline: none;
    width: 100%;
    padding: 0 0 13px 0;
    font-family: Inter;
    font-size: 14px;
    line-height: 17px;
    box-sizing: border-box;
}

@media screen and (max-width: 680px) {
    .popup__status {
        margin: 0 0 45px 0;
    }
}